@import "tailwindcss";

body {
  margin: 0;
}

:root{
    --color-background: #12100d;
    --color-card:#23211e;
}

.scrollbar-hide {
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}